<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Upload</title>
  </head>
  <body>
    <h1>Upload an Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="file">Choose an image:</label>
      <input type="file" name="file" accept="image/*" required />
      <br /><br />
      <label for="task">Task</label>
      <select name="task" required>
        <option value="detection">Detection</option>
        <option value="classification">Classification</option>
        <option value="pose_estimation">Pose Estimation</option>
        <option value="clustering">Clustering</option>
      </select>
      <br /><br />
      <label for="size">Model Size</label>
      <select name="size" required>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
        <option value="extra">Extra</option>
      </select>
      <br /><br />
      <label for="classes">Classes </label>
      <select name="classes" required>
        <option value="choice1">Choice 1</option>
        <option value="choice2">Choice 2</option>
        <option value="choice3">Choice 3</option>
      </select>
      <br /><br />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
