<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dropdown Example</title>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const task = document.getElementById("task");
        const size = document.getElementById("size");
        const conf = document.getElementById("conf");
        const classes = document.getElementById("classes");

        const form = document.querySelector("form");

        // 처음 로드될 때 task 를 제외한 다른 옵션들 비활성화
        task.value = "none";

        size.disabled = true;
        conf.disabled = true;
        classes.disabled = true;
        color.disabled = true;

        task.addEventListener("change", function () {
          if (task.value === "detection" || task.value === "segmentation") {
            size.disabled = false;
            conf.disabled = false;
            classes.disabled = false;

            color.disabled = true;
          } else if (task.value === "clustering") {
            color.disabled = false;

            size.disabled = true;
            classes.disabled = true;

            size.value = "";
            classes.value = "";
          } else if (task.value === "pose_estimation") {
            size.disabled = false;
            conf.disabled = false;

            classes.disabled = true;
            color.disabled = true;

            classes.value = "";
            color.value = "";
          }
        });
      });
      let lastSelectedSecondDropdown = "";

      async function fetchSecondDropdownOptions() {
        const firstDropdown = document.getElementById("task");
        const selectedValue = firstDropdown.value;

        const response = await fetch(`/get-options?value=${selectedValue}`);
        const options = await response.json();

        const secondDropdown = document.getElementById("classes");
        secondDropdown.innerHTML = "";

        options.forEach((option) => {
          const opt = document.createElement("option");
          opt.value = option.value;
          opt.textContent = option.label;
          secondDropdown.appendChild(opt);
        });
      }
    </script>
  </head>
  <body>
    <form action="/inference" method="post" enctype="multipart/form-data">
      <label for="task">Task</label>
      <select id="task" name="task" onchange="fetchSecondDropdownOptions()">
        <option value="none">None</option>
        <option value="detection">Detection</option>
        <option value="pose_estimation">Pose Estimation</option>
        <option value="segmentation">Segmentation</option>
        <option value="clustering">Clustering</option>
      </select>
      <br /><br />
      <label for="size">Model Size</label>
      <select name="size" id="size">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
        <option value="extra">Extra</option>
      </select>
      <br /><br />
      <label for="classes">Classes</label>
      <select id="classes" name="classes" multiple>
        <!-- Options will be populated here -->
      </select>
      <br /><br />
      <label for="conf">Confidence</label>
      <input
        type="number"
        name="conf"
        id="conf"
        min="0"
        max="1"
        step="0.01"
        value="0.6"
      />
      <br /><br />

      <label for="files">Upload Images:</label>
      <input type="file" id="files" name="files" multiple /><br /><br />

      <label for="color">Choose Color:</label>
      <input type="color" id="color" name="color" /><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
